/* Colours
 *
 *	viperYellow:		#FECB00
 *	viperBlueYellow:	#002244;
 *	lcd:			#E6E6E6
 */
body {
	font: 			120% Verdana, Helvetica, Arial, sans-serif;
	background:	 	#E6E6E6;
    	color: 			#002244;
	max-width:		1280px; /* IE wont understand these, so we will use javascript magick */
	min-width:		800px;
	border:			1px solid #436976;
}

table {
	font: 			100% Verdana, Helvetica, Arial, sans-serif;
}

#top {
	background-color:	#FFFFFF;
}

#status {
	text-decoration:	blink;
    	color: 			#FF0000;
	background-color: 	#FFFFFF;
	padding: 	      	5px 10px 10px 10px;
}

#centre {
	vertical-align:		top;
	background-color: 	#FFFFFF;
	padding: 	      	5px 10px 10px 10px;
}

#footer {
	font-weight:	bold;
	background: 	#FECB00;
	border-top: 	1px solid #FECB00;
	border-bottom: 	1px solid #FECB00;
	clear: 		both;
	float: 		none;
	padding: 	0.1em 0.1em 0.1em 1em;
	text-align: 	left;
}


h1.top {
	font-size: 		180%;
	margin-bottom:		0px;
}

h2.top {
	font-size: 		180%;
	margin-top:		0px;
	margin-bottom:		0px;
}

span.top {
	font-size: 		180%;
	margin-top:		0px;
	margin-bottom:		0px;
}

input,select {
	font: 			100% Verdana, Helvetica, Arial, sans-serif;
	background-color:	#E6E6E6; 
}

button {
	font: 			bold 100% Verdana, Helvetica, Arial, sans-serif;
	background-color:	#FECB00; 
}

a {
	text-decoration: 	none;
	color: 			#436976;
	background-color: 	transparent;
}

a:hover {
	text-decoration: 	underline;
}


/* Menus Start */
/* Fix for Opera 8 */
.clearb { clear: both; }

.menu { 
	/* Fix for Opera 8 */ 
	/*   overflow: hidden;  */ 
	font-weight:		bold;
	background-color:	#002244;
	border-bottom:		2px solid #002244;;
	margin-left:		0px;
	margin-right:		0px;
	border-left:		2px solid #002244;
	border-top:		2px solid #002244;
}

/* Set the width of the menu elements at second level. Leaving first level flexible. */
#menu-top li li { 
	min-width:		220px;
}

/* Unless you know what you do, do not touch this */ 
#menu-top, #menu-top ul { 
   list-style: none; 
   margin: 0px; 
   padding: 0px; 
}
#menu-top ul { 
   position: absolute; 
   top: auto; 
   display: none; 
}
#menu-top ul ul { 
   margin-top: 1px;
   margin-left: -1px;
   left: 100%; 
   top: 0px; 
}
	
#menu-top li { 
   margin-left: -1px;
   float: left; 
}
#menu-top li li { 
   margin-left: 0px;
   margin-top: -1px;
   float: none; 
   position: relative; 
}

/* Styling the basic apperance of the menu elements */
#menu-top a { 
	display:		block; 
	margin:			0px; 
	padding:		5px 10px; 
	text-decoration:	none;
	color:			#000000;
}
#menu-top li a { 
	border-right:		2px solid #002244;;
	border-left:		2px solid #002244;;
}
#menu-top li li a { 
	border:			2px solid #002244;;
}	
#menu-top li, #menu-top li.menuparent { 
	background-color:	#FECB00; 
}

/* Styling the basic apperance of the active page elements (shows what page in the menu is being displayed) */
#menu-top li.menuactive { 
	background-color:	#F0F0F0; 
}


/* Styling the basic apperance of the menuparents - here styled the same on hover (fixes IE bug) */
#menu-top ul li.menuparent, 
#menu-top ul li.menuparent:hover
#menu-top ul li.menuparenth {
	/* arrow for menuparents */
	background-image:	url(images/arrow.html); 
	background-position:	center right; 
	background-repeat:	no-repeat; 
}


/* Styling the apperance of menu items on hover */
#menu-top li:hover,
#menu-top li.menuh, 
#menu-top li.menuparenth, 
#menu-top li.menuactiveh{
	background-color:	#F0F0F0; 
}


/* The magic - set to work for up to a 3 level menu, but can be increased unlimited */
#menu-top ul, 
#menu-top li:hover ul, 
#menu-top li:hover ul ul, 
#menu-top li.menuparenth ul, 
#menu-top li.menuparenth ul ul {
	display: none; 
}

#menu-top li:hover ul, 
#menu-top ul li:hover ul, 
#menu-top ul ul li:hover ul, 
#menu-top li.menuparenth ul, 
#menu-top ul li.menuparenth ul, 
#menu-top ul ul li.menuparenth ul {
	display: block; 
}

/* IE Hacks */
#menu-top li li { 
	float: left; 
	clear: both; 
}
#menu-top li li a { 
	height: 1%; 
}
/* Menus End */

/* Data tables */
table.TableData {
	margin:			10px;
	border-style:		inset;
	border-width:		3px;
	background-color:	#E6E6E6;
}

table.TableData th {
	text-align:		left;
	padding:		2px;
	padding-right:		8px;
}
table.TableData td {
	text-align:		left;
	padding:		2px;
}
table.TableData td.Data {
	text-align:		right;
	padding:		2px;
}


table.TableConfig {
	margin:			10px;
	border-style:		inset;
	border-width:		3px;
	background-color:	#E6E6E6;
}

table.TableConfig th {
	text-align:		left;
	padding:		2px;
	padding-right:		8px;
	background-color:	#FECB00;
}
table.TableConfig td {
	text-align:		left;
	padding:		2px;
}
table.TableConfig td.Data {
	text-align:		right;
	padding:		2px;
}


/* (Old stuff */
.StateError {
	background-color: #ff615b;
}

.StateWarning {
	background-color: #ffb85b;
}

.StateOk {
	background-color: #5AE187;
}

#DataBlock {
	margin:			30px;
	border:			3px solid #FECB00;
}

.DataValue {
	font: 			bold 500% Verdana, Helvetica, Arial, sans-serif;
	width:			570px;
	text-align:		right;
}

.DataUnits {
	font: 			bold 400% Verdana, Helvetica, Arial, sans-serif;
	vertical-align:		bottom;
	
}
.LedLabel {
	font: 			bold 200% Verdana, Helvetica, Arial, sans-serif;
	width:			350px;
}

